@model GuaritaVisitantes.ViewModels.RespostaEmail

@{
    ViewBag.Title = "Esqueceu a Senha Confirmação";
}

<link rel="stylesheet" href="~/Content/ForgotPasswordConfirmation.css" />

@{
    if (Model.Enviado == true)
    {
        <header></header>

        <div class="card-message">
            <div class="card-msg-title">
                <h1>@ViewBag.Title.</h1>
            </div>
            <div class="card-msg-body">
                <p>
                    Por Favor verifique seu E-mail.
                </p>
            </div>
        </div>

    }
    else
    {
        <p>@Model.Desc</p>
    }
}

