@{
    ViewBag.Title = "Redefinr Senha Confirmação";
}

<link rel="stylesheet" href="~/Content/ForgotPasswordConfirmation.css" />

<header></header>

<div class="card-message">
    <div class="card-msg-title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="card-msg-body">
        <p>
            Sua Senha foi resetada. Por favor @Html.ActionLink("clique aqui para login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
