
@{
    ViewBag.Title = "Não Autorizado";
}

<link href="~/Content/IndexLista.css" rel="stylesheet" />
<style>
    .cartao-item{
        font-size: 24px;
        text-align: justify;
        padding: 0 15px;
    }
</style>

<div class="cartao-bg-white">
    <div class="cartao-title">
        <h1>
            @ViewBag.Title
        </h1>
    </div>
    <div class="cartao-item">
        <p>
            A sua conta não possui papel necessário para acessar essa área da aplicação, por favor entre em contato com administrador.
        </p>
    </div>
</div>

