body {
    background-color: #f2f2f2;
}

header {
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: #fabe36;
    position: relative;
}

.card-message {
    background-color: white;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    min-height: 200px;
    margin: auto;
    margin-top: -40px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 0.2em grey;
}

.card-msg-title {
    height: 100px;
    padding: 10px;
}

    .card-msg-title h1 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

.card-msg-body {
    height: calc(100% - 100px);
    padding: 10px;
    overflow-y: auto;
}

    .card-msg-body p {
        font-size: 20px;
    }

@media screen and (max-height: 270px) {

    .card-message {
        height: 200px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 617px) {


    .card-message {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 517px) {


    .card-message {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 467px) {

    .card-msg-title h1 {
        font-size: 7.5vw;
    }

    .card-msg-body p {
        font-size: 4.5vw
    }
}
