
@{
    ViewBag.Title = "Relatório";
}

<style>
    .validation-summary-errors ul {
        list-style-position: inside;
        color: red;
    }
</style>

<div class="card">

    <div class="card-title">
        @ViewBag.Title
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "Relatorio", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "FormRelatorio" }))
        {
            @Html.AntiForgeryToken()

            <div class="card-body-item">
                @Html.ValidationSummary()
            </div>

            <div class="card-body-item">
                <label class="control-label" for="DateIni">Data Inicial</label>
                <input class="form-control" type="date" name="DateIni" id="DateIni" />
            </div>


            <div class="card-body-item">
                <label class="control-label" for="DateEnd">Data Final</label>
                <input class="form-control" type="date" name="DateEnd" id="DateEnd" />
            </div>

            <div class="card-body-item">
                <label class="control-label" for="Tipo">Tipo</label>
                <select class="form-control select-tipo" name="Tipo" id="Tipo" style="width: 100%">
                    <option></option>
                    <option value="0">Saída</option>
                    <option value="1">Entrada</option>
                    <option value="2">Todos</option>
                </select>
            </div>
        }
    </div>
    <div class="card-footer">
        <input id="btnEnviarRel" type="button" class="btn btn-success" value="Enviar" />
    </div>

</div>

<script>
    btnEnviarRel = document.getElementById('btnEnviarRel');
    btnEnviarRel.onclick = () => {
        document.getElementById('FormRelatorio').submit();
    }
</script>

