@{
    ViewBag.Title = "Bem-vindo";
}

<link href="~/Content/IndexLista.css" rel="stylesheet" />

<div class="cartao-bg-white">
    <div class="cartao-title">
        <h1>
            @ViewBag.Title
        </h1>
    </div>
    <div class="cartao-item">
        <p>
            Aplicativo Web para controlar as Entradas e Saídas de Visitantes e Veiculos.
        </p>
    </div>
    <br />
    <br />
    <br />
    <img src="~/Content/img/visitantes.png" style="max-width: 100%; opacity: 0.5;" />
</div>
<br />
<br />
<br />
<br />